HELP.md

target/
**/.mvn/**
**/target/**
!**/wrapper/**
**/wrapper/**
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

#Angular
# Compiled output
**/dist
**/tmp
**/out-tsc
**/bazel-out

# Node
**/node_modules/**
**/node/**
**/npm-debug.log
**/yarn-error.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
